In [7]:
import pandas as pd
import numpy as np

In [37]:
# Read CSV files
NO_df = pd.read_csv("city_data/NO2.csv", sep=';')
NO_hist_OL_df = pd.read_csv("city_data_historic/Oldenburg_VS_181228_190328.csv", sep=';')

# Convert 'Datum' column to date format
NO_hist_OL_df['Datum'] = pd.to_datetime(NO_hist_OL_df['Datum'], format="%d.%m.%y")

In [45]:
print(NO_hist_OL_df.columns.tolist())
print(NO_df.columns.tolist())

['Datum', 'Uhrzeit', 'ug/m']
['Datum', 'Uhrzeit', 'Braunschweig_VS', 'Goettingen_VS', 'Hannover_VS', 'Osnabrueck_VS', 'Oldenburg_VS', 'Hannover', 'Jadebusen', 'Osnabrueck', 'Ostfriesische_Inseln', 'Ostfriesland']

In [48]:
NO_df

,Datum,Uhrzeit,Braunschweig_VS,Goettingen_VS,Hannover_VS,Osnabrueck_VS,Oldenburg_VS,Hannover,Jadebusen,Osnabrueck,Ostfriesische_Inseln,Ostfriesland
0,02.02.23,22:00,"24,975","29,737","23,267","23,17",24.814,"7,859","7,564","11,648","7,372","10,609"
1,02.02.23,23:00,"18,292","23,382","23,478","20,845",15.026,"8,819","6,62","15,593","7,086",NaN
2,03.02.23,00:00,"14,607","17,598","23,4","15,43",14.503,"11,395","5,465","13,16","5,363","7,386"
3,03.02.23,01:00,"13,948","22,143","11,619",NaN,11.560,NaN,"4,313","11,441","4,852","6,82"
4,03.02.23,02:00,NaN,"14,34",NaN,"11,96",NaN,"6,742","5,082","10,213","4,378","5,823"
...,...,...,...,...,...,...,...,...,...,...,...,...
2133,02.05.23,19:00,"27,338","22,316","30,504","31,185",20.061,"10,483","1,981","7,191","1,572","3,973"
2134,02.05.23,20:00,"22,123","19,777","27,625","23,624",26.941,"8,19","3,053","7,284","1,444","4,052"
2135,02.05.23,21:00,"18,274","24,706","33,451","25,18",22.570,"11,326","2,869","8,494","1,278","6,333"
2136,02.05.23,22:00,"19,346","30,055","47,461","27,109",26.035,"13,448","3,063","10,429","1,125","11,545"
2137,02.05.23,23:00,"15,55","20,673","22,139","23,286",31.038,"9,948","2,955","10,463","1,139","11,141"

In [44]:
# Replace comma with dot and convert to float
NO_df['Oldenburg_VS'] = NO_df['Oldenburg_VS'].str.replace(',', '.').astype(float)

AttributeError: Can only use .str accessor with string values!

In [43]:
# Calculate running mean for NAs
window_size = 48  # Number of elements used for running mean

running_mean = NO_df['Oldenburg'].rolling(window=window_size, min_periods=1).mean()

KeyError: 'Oldenburg'

In [16]:
NO_hist_OL_df

          Datum Uhrzeit    ug/m
0    2018-12-28   01:00  45,602
1    2018-12-28   02:00  43,345
2    2018-12-28   03:00  42,888
3    2018-12-28   04:00     NaN
4    2018-12-28   05:00  42,848
...         ...     ...     ...
2179 2019-03-28   20:00     NaN
2180 2019-03-28   21:00     NaN
2181 2019-03-28   22:00     NaN
2182 2019-03-28   23:00     NaN
2183 2019-03-29   00:00     NaN

[2184 rows x 3 columns]

In [12]:
# Replace missing values with the running mean
NO_hist_OL_df['ug.m'] = NO_hist_OL_df['ug.m'].mask(NO_hist_OL_df['ug.m'].isna(), running_mean)

# Create a new DataFrame with the desired columns
NO_OL_df = pd.DataFrame({'NO_df_Datum': NO_df['Datum'],
                         'NO_df_Uhrzeit': NO_df['Uhrzeit'],
                         'NO_df_Oldenburg_VS': NO_df['Oldenburg_VS']})

KeyError: 'ug.m'

In [13]:
# Rename columns
NO_OL_df.columns = ['Datum', 'Uhrzeit', 'ug/m^3']

# Convert 'Datum' column to date format
NO_OL_df['Datum'] = pd.to_datetime(NO_OL_df['Datum'], format="%d.%m.%y")

# Calculate running mean for NAs
window_size = 48  # Number of elements used for running mean
running_mean = NO_df['Oldenburg_VS'].rolling(window=window_size, min_periods=1).mean()

# Replace missing values with the running mean
NO_OL_df['ug/m^3'] = NO_OL_df['ug/m^3'].mask(NO_OL_df['ug/m^3'].isna(), running_mean)

NameError: name 'NO_OL_df' is not defined